

<li>


  <%= l fixture.matchdate, :format => :short %>   ...  
<%= fixture.hometeam %>
    vs. <%= fixture.awayteam %>       > > > >       

  <b><%= link_to 'Show Predictions', fixture %> </b>

<% if current_user.admin? %>
  |  
  <b><%= link_to 'Remove', [fixture.game, fixture], :confirm => 'Really remove match?', :method => :delete %></b>
<% end%>

</li>