

<li>


  <%= link_to (l fixture.matchdate, :format => :short), fixture %>   ...   
<%= fixture.hometeam %>
    vs. <%= fixture.awayteam %>   ...   
<%= fixture.content %>
  <b><%= link_to 'Remove', [fixture.game, fixture], :confirm => 'Really remove match?', :method => :delete %></b>


</li>