<% if @fixture.predicts.any? %>

 	      <% @hometest = [] %>
 	      <% @awaytest = [] %>
 	      <% @drawtest = [] %>
 	      
 	    <% for predict in @fixture.predicts %>
 	  <% if predict.homescore != nil %>
 	    
 	        <% if predict.homescore > predict.awayscore %> 
 	         <%  @hometest << predict %>

 	      <% elsif predict.homescore < predict.awayscore %> 
 	         <%  @awaytest << predict %>
 	         
        <% elsif predict.homescore == predict.awayscore %> 
 	        <%  @drawtest << predict%>

 	        <% end %>
 	    <% end %>
 	  <% end %>
 	  
 	       
 	          <table class = "table">
         	  <tr>
         	    <th><a><%= @fixture.hometeam %> To Win</a></th>
         	    <th><a>Draw</a></th>
         	    <th><a><%= @fixture.awayteam %> To Win</a></th>
         	  </tr>
         	  <tr>
         	  <% hw = (@hometest.count.to_f / @fixture.predicts.count)*100 %>
         	  <td><%= number_to_percentage(hw, precision: 0) %></td>
         	  <% dw = (@drawtest.count.to_f / @fixture.predicts.count)*100 %>
         	  <td><%= number_to_percentage(dw, precision: 0) %></td>
         	  <% aw = (@awaytest.count.to_f / @fixture.predicts.count)*100 %>
         	  <td><%= number_to_percentage(aw, precision: 0) %></td> 	  
         	  </tr>
         	  <tr>
         	  <td>
         	  <% @hometest = @hometest.sort_by { |h| h[:homescore] } %>
         	  <% @hometest.each do |hometest|%>
            <%= hometest.homescore %> - <%= hometest.awayscore %>  :  
                <%= User.find(hometest.user_id).name %><br>
                 <% end %>
         	  </td>
         	  <td>

         	  <% @drawtest.each do |drawtest|%>
            <%= drawtest.homescore %> - <%= drawtest.awayscore %>  :  
                <%= User.find(drawtest.user_id).name %><br>
                 <% end %>
         	  </td>
         	  <td>
         	  <% @awaytest = @awaytest.sort_by { |h| h[:homescore] } %>
         	  <% @awaytest.each do |awaytest|%>
            <%= awaytest.homescore %> - <%= awaytest.awayscore %>  :  
                <%= User.find(awaytest.user_id).name %><br>
                 <% end %>
                </td>
         	  </tr>
         	  </table>
 	  
    <br><br>
    
<% else %>
           No predictions stats available
<% end %>

