

<p>

<%= link_to fixture.id, fixture %>
  <%= l fixture.matchdate, :format => :short %>
<%= fixture.hometeam %>
    vs. <%= fixture.awayteam %>
<%= fixture.content %>
  <%= link_to 'Remove', [fixture.game, fixture], :confirm => 'Really remove match?', :method => :delete %>
</p>