<div class="row-fluid">
  <div class="span5 offset1">

<m2>Edit Fixture / Enter Score</m2>
<%= form_for ([@fixture]) do |f| %>
<br>


<m3>  Date:
    <%= f.date_select :matchdate, :ampm => true %>
</m3><br>

<m3>  KO:
    <%= f.text_field :ko, :class => "input-small"  %>
</m3><br>

<m3>  Home Team:
    <%= f.select(:hometeam, Fixture::TEAM_TYPES)%>
</m3><br>

<m3>Away Team:     <%= f.select(:awayteam, Fixture::TEAM_TYPES)%>
</m3><br>

<m3>Week: 
     <%= f.text_field :week, :class => "input-small" %>
</m3><br>


<m3>HomeScore: 
    <%= f.text_field :matchhomescore, :class => "input-small" %>
</m3><br>
  
<m3>AwayScore: 
   <%= f.text_field :matchawayscore, :class => "input-small" %>
</m3><br>
  
<m3>Result Gap: 
     <%= f.text_field :fixresultgap, :class => "input-small", :disabled=>true %>
</m3><br>

    
  <div class="actions">
    <%= f.submit %>
  </div>
  </m3>
<% end %>


<%= link_to 'Show', @fixture %> |
<%= link_to 'Back', fixtures_path %>
  </div>
    </div>
