	<div class="row-fluid">
    <div class="span5">

    <m4>Click</m4> 
     <%= image_tag("/images/binocs.png", :size => "20x20", :alt=> "predictions") %>
     <m4>to see all predictions per fixture</m4><br><br>
         
<ul class="nav nav-tabs">
   <li class="active">
     	<a href="/fixtures/fix_by_comp"><%= @current_game[0].name[10, 4] %> </a>
    </li>
    <li>
     	<a href="/fixtures/fix_by_grid">Past Years</a>
    </li>
  </ul>
   
 <% @fixtures_by_week.each do |week, fixture_by_week| %>
      
       <table class="table">
        
  <tr>
    <m4>Week <%= week %></m4>
    
    </tr>
           	  	 
        <% fixture_by_week = fixture_by_week.sort_by{|e| e[:matchdate]}%>
            <% fixture_by_week.each do |fixture| %>
      
      <tr>
       <td><% unless fixture.matchdate.nil? %>
 				<% if fixture.matchdate < Date.today %>
 				<i class='icon-ok icon-white'></i>
 				<% else %>
 				<i class='icon-time icon-white'></i>
 			<% end %><% end %></td>
        <td><%= fixture.matchdate.strftime("%d %b") %>, <%= fixture.ko.strftime("%H:%M") %></td>
        <td><%= fixture.hometeam[0, 3] %></td>
        <td><%= fixture.awayteam[0, 3] %></td>
        <td><%= fixture.matchhomescore %></td> 
        <td><%= fixture.matchawayscore %></td>
	       <td><center><%=link_to(image_tag("/images/binocs.png",:size => "20x20", :alt=> "predictions"),
              {:controller=>"fixtures", :action=>"show", :id=>fixture.id}, :title=>"Predictions", :class=>"logo") %></td>
        
      </tr>

  <% end %> <% end %>
     </table>
     </div>
     </div>
