<ul class="nav nav-tabs">
<li>
   	<a href="/fixtures/fix_by_comp"><%= @current_game[0].name[10, 4] %> </a>
  </li>
 <li class="active">
   	<a href="/fixtures/fix_by_grid">Past Years</a>
  </li>


  
   <table class="table">
   <tr>
   <div class="row-fluid">
      <div class="span2">
   
        <% @games.each do |game| %>
        <td>
             <strong><%= game.name %></strong><br>
            
          <% @fixtures = Fixture.where(:game_id => game.id) %>
          <% @fixtures = @fixtures.sort_by { |h| h[:hometeam] }%>
          <% for fixture in @fixtures do %>
          <%= fixture.hometeam[0, 3] %> v. <%= fixture.awayteam[0, 3] %>__<%= fixture.matchhomescore %>-<%= fixture.matchawayscore %><br>
          <% end %>
            
  
          </td>
        <% end %>
      </div>
      </div>
    </tr>
</table>
<% if signed_in? %>  
<b><a href="/users/<%= current_user.id %>">Go back to my predictions</a></b>
<% end %>
