<h3>Matches</h3>


<ul class="nav nav-tabs">
 <li><a href="/fixtures">All matches</a> </li>
   <li class="active">
   	<a href="/fixtures/fix_by_comp">By Competition</a>
  </li>
  <li>
   	<a href="/fixtures/fix_by_grid">Grid</a>
  </li>
</ul>
<br>


 <% @fixtures_by_comp.each do |game_id, fixture_by_comp| %>
  
   <strong><%= Game.find(game_id).name %></strong>
   
   <table class="table">
   <tr>
  	  <th></th>
  	  <th>Week</th>
  	  <th>Date</th>
  	  <th>KO</th>
      <th>Home</th>
      <th>Away</th>    
      <th>Result</th>    
  	  <th><center>Predictions</center></th>
      <th></th>
      <th></th>
    </tr>
   
    <% fixture_by_comp = fixture_by_comp.sort_by{|e| e[:fixture_id]}%>
       <% fixture_by_comp.each do |fixture| %>
      <tr>
       <td></td>
        <td><%= fixture.week %></td>
        <td><%= fixture.matchdate.strftime("%d %b, %Y") %></td>
        <td><%= fixture.ko.strftime("%H:%M") %></td>
        <td><%= fixture.hometeam %></td>
        <td><%= fixture.awayteam %></td>
        <td><%= fixture.matchhomescore %> - <%= fixture.matchawayscore %></td>
	      <td><b><center><%= link_to "", fixture, :class => "icon-forward" %></b></td>
      </tr>
      <% end %>
   </table>

   <% end %>