<h1>Matches</h1>
<br>
<table class="table">
  <tr>
	<th></th>
	<th>Date</th>
    <th>Home</th>
    <th>Away</th>    
	<th>Show Predictions</th>
    <th></th>
    <th></th>
  </tr>

<% @fixtures.each do |fixture| %>
  <tr>
		<td>
			<% unless fixture.matchdate.nil? %>
				<% if fixture.matchdate < Date.today %>
				<i class='icon-ok'></i>
				<% else %>
				<i class='icon-time'></i>
			<% end %><% end %>
		</td>
	<td>			<% unless fixture.matchdate.nil? %>
	<%= link_to (l fixture.matchdate, :format => :short), fixture %></td>
	<% end %>    
	<td><%= fixture.hometeam %></td>
	<td><%= fixture.awayteam %></td>
	<td><b><%= link_to '=>', fixture %></b></td>

<% if signed_in? && current_user.admin? %>
    <td><b><%= link_to 'edit', edit_fixture_path(fixture) %></b></td>
    <td><b><%= link_to 'destroy', fixture, method: :delete, data: { confirm: 'Are you sure?' } %></b></td>
<% end %> 
 </tr>
<% end %>

</table>


 <h2>Import Matches</h2>

<%= form_tag import_fixtures_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<br />

