
<ul class="nav nav-tabs">
 <li class="active"><a href="/fixtures">All fixtures</a> </li>
   <li>
   	<a href="/fixtures/fix_by_comp">This Year</a>
  </li>
  <li>
   	<a href="/fixtures/fix_by_grid">Past Years</a>
  </li>
</ul>
<br>


<table class="table">
  <tr>
	  <th></th>
	  <th>Competition</th>
	  <th><center>Week</center></th>
	  <th>Date</th>
	  <th>KO</th>
    <th>Home</th>
    <th>Away</th>    
    <th>Result</th>    
        <th></th>    
   <th><center>Action</center></th>
    <th></th>
    <th></th>
  </tr>

<% @fixtures.each do |fixture| %>
  <tr>
		<td>
			<% unless fixture.matchdate.nil? %>
				<% if fixture.matchdate < Date.today %>
				<i class='icon-ok icon-white'></i>
				<% else %>
				<i class='icon-time icon-white'></i>
			<% end %><% end %>
		</td>
		
		<td><%=  Game.find(fixture.game_id).name %></td>
	<td><center><%=  fixture.week %></center></td>
		
			<% unless fixture.matchdate.nil? %>
	   <td><%= fixture.matchdate.strftime("%d %b, %Y") %></td>
	   <% end %>  
	   	<% unless fixture.ko.nil? %>
	    <td><%= fixture.ko.strftime("%H:%M")  %></td>
	<% else %> 
	<td></td>
	<% end %>    	

		<% if fixture.matchhomescore.nil? %>
		  <td><%= fixture.hometeam %></div></td>
			<td><%= fixture.awayteam %></td>
				<% elsif fixture.matchhomescore.to_i > fixture.matchawayscore.to_i %>
				<td><div class="winner">	<%= fixture.hometeam %></td>
        <td><div class="muted">	<%= fixture.awayteam %></div></td>
				
				<% elsif fixture.matchhomescore == fixture.matchawayscore %>
        <td><div class="gamedrawn">	<%= fixture.hometeam %></div></td>
	      <td><div class="gamedrawn">	<%= fixture.awayteam %></td>
				<% else %>
        <td><div class="muted">	<%= fixture.hometeam %></div></td>
	      <td><div class="winner"><%= fixture.awayteam %></div></td>
				<% end %>
		
		<td><center><i><%= best_in_place fixture, :matchhomescore, :nil => "-" %></i></center></td>
		<td><center><i><%= best_in_place fixture, :matchawayscore, :nil => "-" %></i></center></td>
  


<% if signed_in? && current_user.admin? %>
  
    <td><b><center><%= link_to '|e|', edit_fixture_path(fixture) %></b></center></td>
    <td><b><center><%= link_to '|s|', fixture %></b></td>
    <td><b><center><%= link_to '|d|', fixture, method: :delete, data: { confirm: 'Are you sure?' } %></b></center></td>
<% end %> 
</tr>
<% end %>
</table>

  
  
  <div class="btn-group btn-group-vertical">
    <button class="btn btn-large"><%= link_to "Add a game", new_game_path, class: "btn btn-primary" %></button>
    <button class="btn">	<%= form_tag import_fixtures_path, multipart: true do %>
                          <%= collection_select(:game, :game_id, Game.all, :id, :name ) %>
                       
		                      <%= file_field_tag :file %>
		                      <%= submit_tag "Import" %>
	                        <% end %>
	  </button>
  </div>



