<% provide(:title, 'Match Predictions') %>

<p id="notice"><%= notice %></p>
<br>
<p>
  <h3>
  <%= @fixture.matchdate.strftime("%d %b, %Y") %> -   <%= @fixture.hometeam %> vs.   <%= @fixture.awayteam %>, <i>Result</i> - <%= @fixture.matchhomescore %> : <%= @fixture.matchawayscore %>
   (<%= @fixture.fixresultgap %>)
  </h3>

<br><br>
<b>Predictions</b>
<br><br>
<div class="row">
  <div class="span5">
    <div class="well">
	    <% if @fixture.predicts.any? %>
       	  
       	  <%= form_for @fixture, :url => { :action => "calc_user" }, :html => {:class => "nifty_form"} do |f| %>
       	    	<%= hidden_field_tag "fixture_id", params[:id] %>

      <% for predict in @fixture.predicts %>

              <%= hidden_field_tag "predict_ids[]", predict.id %>
              <li>
                <%=h predict.homescore %> - <%=h predict.awayscore %>  :  
                <%= User.find(predict.user_id).name %>  
                
              </li>
      <% end %>
          <br>
          <%= submit_tag "Calculate Gap", class: "btn btn-success btn-large" %>
			<% end %>

      <% else %>
      No predictions yet
      <% end %>

      </div>
    </div>
</div>

<br>

<%= link_to 'Back', fixtures_path %> |
<%= link_to 'See Scoring', predicts_path %> |
<% if signed_in? && current_user.admin? %>
 | 
<%= link_to 'Edit', edit_fixture_path(@fixture) %>
<% end %>
