<% provide(:title, 'Match Predictions') %>
<p id="notice"><%= notice %></p>

<p>
  <b>
  <%= l @fixture.matchdate, :format => :short %> -   <%= @fixture.hometeam %> vs.   <%= @fixture.awayteam %>
</b>

<h2>Predictions</h2>

	 <% if @fixture.predicts.any? %>
</p>
<% for predict in @fixture.predicts %>
<li>
	
<% r = predict.user_id %>
<% t = User.find(r) %>
<%= t[:name] %>    :  

<%=h predict.homescore %> - <%=h predict.awayscore %>

</li>
<% end %>
<% end %>
</ul>

<br>



<%= link_to 'Back', fixtures_path %>
<% if current_user.admin? %>
 |
<%= link_to 'Edit', edit_fixture_path(@fixture) %>
<% end %>
</div>