<% require 'date' %>
<% date = DateTime.parse("2014-02-01 14:25:00") %>


<% provide(:title, 'Match Predictions') %>
<p id="notice"><%= notice %></p>


<br>
<b>Predictions for </b>

  <m4>
   <%= @fixture.matchdate.strftime("%d %b, %Y") %> -   <%= @fixture.hometeam %> vs.   <%= @fixture.awayteam %>, <i>Result</i> - <%= @fixture.matchhomescore %> : <%= @fixture.matchawayscore %>
   (<%= @fixture.fixresultgap %>)
  </m4>
<br>
<div class="row">
  <div class="span5">
  
   <% if  Date.today > date %>
      <%= render 'fixtures/fixpredict' %>

       <% else %>
        <br> <i>Predictions from all players will be available here<br> 
        from 5 mins before the first match, 1st Feb 2014.</i><br><br>
      <% end %>
     
       
          
          <% if signed_in? && current_user.admin? %>
            <button class="btn">	
            <%= form_tag calc_user_fixtures_path do %>

		          <%= hidden_field_tag "fixture_id", params[:id] %>
          		<%= submit_tag "calc_user" %>
            
            
            <% end %>
         
			    <% end %>

    </div>
</div>


<%= link_to 'Back to fixtures', fixtures_fix_by_comp_path %> |
<%= link_to 'See Scoring', scoreboards_index_week_path %> 
<% if signed_in? && current_user.admin? %>
 | 
<%= link_to 'Edit', edit_fixture_path(@fixture) %>
<% end %>

