<%= form_for ([@user, @user.predicts.build]) do |f| %>

<div class="field">
    <% f.text_field :user_id, :value => @user.id %>
  </div>
     

<div class="field">
	<%= f.label :fixture_id, "Select Match" %>
	<%= f.grouped_collection_select :fixture_id, Game.order(:name), :fixtures, :name, :id, :full_fixture, include_blank: true %>
</div>
<table>
	<tr>		
		<td>Home score</td>
		<td>Away score</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td><%= f.text_field :homescore, :class => "input-small" %></td>
		<td><%= f.text_field :awayscore, :class => "input-small" %> </td>	
		<td></td>
		<td><div class="actions"><%= f.submit "Save Prediction" %> </div></td>	
	</tr>
</table>


<% end %>
