<%= form_for ([@user, @user.predicts.build]) do |f| %>

  

<div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id, :value => @user.id %>
  </div>


<div class="field">
    <%= f.label :homescore %><br />
    <%= f.text_field :homescore%>
  </div>

<div class="field">
    <%= f.label :awayscore %><br />
     <%= f.text_field :awayscore %>
  </div>

<div class="field">
    <%= f.label :points %><br />
     <%= f.text_field :points %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
