<%= form_for ([@user, @user.predicts.build]) do |f| %>

  

<div class="field">
    <% f.text_field :user_id, :value => @user.id %>
  </div>


<p>
  <%= f.label :game %>
  <%= f.collection_select :game_id, @games, :id, :name, :prompt => "Select a competition" %>
  <%= f.label :fixture %>
  <%= f.collection_select :fixture_id, @fixtures, :id, :full_fixture, :prompt => "Select a match" %>
</p>
	
	<div class="controls">
		    <%= f.label :homescore %> 
	              <%= f.text_field :homescore, :class => "input-small" %>
	            </div>
	
				<div class="controls">
					    <%= f.label :awayscore %> 
				              <%= f.text_field :awayscore, :class => "input-small" %>
				            </div>

<% if current_user.admin? %>
								<div class="controls">
									    <%= f.label :points %> 
								              <%= f.text_field :points, :class => "input-small" %>
								            </div>
<% end%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
