

<p>
  <%= predict.fixture_id %>
  <%= predict.user_id %>
	<%= predict.homescore %> 
	<%= predict.awayscore %> 

	<h2>match</h2>
	<%= render @predicts.fixtures %>
	</p>


  
<%= link_to 'Remove', [predict.user, predict], :confirm => 'Really remove prediction?', :method => :delete %>
</p>