<h3>Scoreboard</h3>

<ul class="nav nav-tabs">
<li>	<a href="/scoreboards">Leaderboard</a> </li>
   <li>
   	  <a href="/scoreboards/index_week">Scores by Week</a>
  </li>
 <li class="active">
   	  <a href="/scoreboards/index_match">Scores by Match</a>
  </li>
</ul>

<div class="row-fluid">
  <div class="span6 offset1">

   <% if @predicts_by_user.any? %>
     <% @predicts_by_user.each do |user_id, predicts_by_user| %>

<h3>	<% m = user_id %>	
    	<% if User.find(m).name == "pethl" %>
  	  <% else %>
  		<%= User.find(m).name %> 
</h3>

<table class="table condensed">

<% predicts_by_user = predicts_by_user.sort_by{|e| e[:fixture_id]}%>
<% predicts_by_user.each do |predict| %>
  <tr>
  <td></td>
    <td>
			<%= Fixture.find(predict.fixture_id).hometeam %> v <%= Fixture.find(predict.fixture_id).awayteam %> 
			- <%= Fixture.find(predict.fixture_id).matchdate.strftime("%d %b, %Y") %></td>
			
  <td><center><%= predict.points %></center></td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>
<% end %>
<br />
</div></div>
