
<ul class="nav nav-tabs">
<li class="active">	<a href="/scoreboards">Predicascore<br>Leaderboard</a>
</li>
  <li>
   	<a href="/scoreboards/index_week">Predicascores<br>by Week</a>
  </li>
  <li>
   	<a href="/scoreboards/index_match">Predicascores<br>by Fixture</a>
  </li>
  <li>
   	<a href="/predicts">Predicascores<br>Point by Point</a>
  </li>
</ul>
  

<div class="row-fluid">
  <div class="span6 offset2">
  
  <% if action_date > Date.today %> 
			<p>View the <g4>Leadboard</g4> here, once the competition is underway.</p><br>
			<% else %>
			
			

		<% @scoreboards_by_score.each do |score, users| %>
    <a><b>  <%= score %>  points</a></b>
      <ul>
                  <% if users.any? %>
                     <% for user in users %> 
                       <li>  <%= get_name(user[0]) %></li>
              		    <% end %></ul>
               <% end %>
			 <% end %>

      </div></div>
<% end %>
 
<% if signed_in? && current_user.admin? %>	
<br />
<div class="btn-group btn-group-vertical">
  <button class="btn btn-large"><%= link_to 'New Scoreboard', new_scoreboard_path, class: "btn btn-primary" %>
  </button>
  
  <button class="btn">	
  <%= form_tag generate_scoreboards_path do %>
    <%  @current_game = Game.where(:current => true) %>
		 <%= collection_select(:fixture, :fixture_id, Fixture.where(:game_id => @current_game[0].id), :id, :full_fixture ) %>
		
		<%= submit_tag "Generate" %>
  <% end %>
  </button>
	
<% end %>
