<% require 'date' %>
<% date = DateTime.parse("2014-01-01 14:25:00") %>

<ul class="nav nav-tabs">
<li>	<a href="/scoreboards">Predicascore<br>Leaderboard</a>
    </li>
<li class="active">
   	<a href="/scoreboards/index_week">Predicascores<br>by Week</a>
  </li>
  <li>
   	<a href="/scoreboards/index_match">Predicascores<br>by Fixture</a>
  </li>
  <li>
    	<a href="/predicts">Predicascores<br>Point by Point</a>
   </li>
</ul>

<% if date > Date.today %> 
		<p>This area under construction </p><br>
<% else %>

<div class="row-fluid">
  <div class="span8 offset1">

<br><br>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          WEEK ONE or WEAK ONE<br>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body"> 
      
       <% if @scorebs1.any? %>
      <%= @scorebs1header[0].comment %><br><br>
      <%= @scorebs1header[1].comment %><br><br>
      <% end %>

      <table class = "table">
      <% x = @scoreboards1_by_score.size %>
      <% x = x-1%>
      <% @scoreboards1_by_score.each do |score, users| %>
      <tr>
      <td>
        <m5><b>  <%= score %>  points</m5></b>
      </td>
      <td>

       <% if @scorebs1.any? %>
      <%= @scorebs1[x].comment %>
      <% end %>
        <% sz = users.size %>
         <% if users.any? %>
            <% for user in users %> 
                <% sz = sz-1 %>
                <% @record = users[sz] %>
                <% user = User.find(@record.first) %>
              <m5> <%= link_to user.name, user_path(user.id) %> </m5>
      	    <% end %>
      </td>
      </tr>    
          <%  x= x-1 %>        
          <% end %>
        <% end %>
      </table>     
      <% if @scorebs1.any? %>
      <%= @scorebs1footer[0].comment %><br>
         <% end %>
      
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
         <br>WEEK TWO or TOO WEAK
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
      
       <% if @scorebs2.any? %>
      <%= @scorebs2header[0].comment %><br><br>
      <%= @scorebs2header[1].comment %><br>
      <%= @scorebs2header[2].comment %><br>
      <%= @scorebs2header[3].comment %><br>
       <%= @scorebs2header[4].comment %><br>
       <%= @scorebs2header[5].comment %><br>
        <%= @scorebs2header[6].comment %><br>
        <%= @scorebs2header[7].comment %><br>
         <%= @scorebs2header[8].comment %><br>
         <%= @scorebs2header[9].comment %><br>
          <%= @scorebs2header[10].comment %><br>
          <%= @scorebs2header[11].comment %><br>
           <%= @scorebs2header[12].comment %><br><br>
      <% end %>

      <table class = "table">
      <% x = @scoreboards2_by_score.size %>
      <% x = x-1%>
      <% @scoreboards2_by_score.each do |score, users| %>
      <tr>
      <td>
        <m5><b>  <%= score %>  points</m5></b>
      </td>
      <td>

       <% if @scorebs2.any? %>
      <%= @scorebs2[x].comment %>
      <% end %>
        <% sz = users.size %>
         <% if users.any? %>
            <% for user in users %> 
                <% sz = sz-1 %>
                <% @record = users[sz] %>
                <% user = User.find(@record.first) %>
              <m5> <%= link_to user.name, user_path(user.id) %> </m5>
      	    <% end %>
      </td>
      </tr>    
          <%  x= x-1 %>        
          <% end %>
        <% end %>
      </table>     
      <% if @scorebs2.any? %>
      <%= @scorebs2footer[0].comment %><br>
         <% end %>
      
      </div>
    </div>
  </div>

</div>


  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
         <br>WORLD WAR WEEK THREE  “ SPHERE’S OF INFLUENCE”  <br>
        </a>
      </h4>
    
    </div>
    <div id="collapseThree" class="panel-collapse collapse in">
      <div class="panel-body">
       <m4> (dedicated to Peedidle’s very own Buster Gonads, J Owens)</m4><br><br>
       <% if @scorebs3.any? %>
      <%= @scorebs3header[0].comment %><br><br>
      <% end %>

      <table class = "table">
      <% x = @scoreboards3_by_score.size %>
      <% x = x-1%>
      <% @scoreboards3_by_score.each do |score, users| %>
      <tr>
      <td>
        <m5><b>  <%= score %>  points</m5></b>
      </td>
      <td>

       <% if @scorebs3.any? %>
      <%= @scorebs3[x].comment %>
      <% end %>
        <% sz = users.size %>
         <% if users.any? %>
            <% for user in users %> 
                <% sz = sz-1 %>
                <% @record = users[sz] %>
                <% user = User.find(@record.first) %>
              <m5> <%= link_to user.name, user_path(user.id) %> </m5>
      	    <% end %>
      </td>
      </tr>    
          <%  x= x-1 %>        
          <% end %>
        <% end %>
      </table>     
      <% if @scorebs3.any? %>
        <%= @scorebs3footer[0].comment %><br><br>
        <%= @scorebs3footer[1].comment %><br>
        <%= @scorebs3footer[2].comment %><br>
        <%= @scorebs3footer[3].comment %><br>
         <%= @scorebs3footer[4].comment %><br>
         <%= @scorebs3footer[5].comment %><br><br>
          <%= @scorebs3footer[6].comment %><br><br>
          <%= @scorebs3footer[7].comment %>
           <m4><%= @scorebs3footer[8].comment %></m4><br>
         <br><br><br>
         <% end %>
      
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
         <br>WEEK FOUR or POOR WEEK<br>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
       <m4>In the words of the French superstar F.R David.... "Words don't come easy" (to Ned Ludd after that result)'</m4><br><br>
      
       <% if @scorebs4.any? %>
      <%= @scorebs4header[0].comment %><br><br>
      <% end %>

      <table class = "table">
      <% x = @scoreboards4_by_score.size %>
      <% x = x-1%>
      <% @scoreboards4_by_score.each do |score, users| %>
      <tr>
      <td>
        <m5><b>  <%= score %>  points</m5></b>
      </td>
      <td>

       <% if @scorebs4.any? %>
      <%= @scorebs4[x].comment %>
      <% end %>
        <% sz = users.size %>
         <% if users.any? %>
            <% for user in users %> 
                <% sz = sz-1 %>
                <% @record = users[sz] %>
                <% user = User.find(@record.first) %>
              <m5> <%= link_to user.name, user_path(user.id) %> </m5>
      	    <% end %>
      </td>
      </tr>    
          <%  x= x-1 %>        
          <% end %>
        <% end %>
      </table>     
      <% if @scorebs4.any? %>
        <%= @scorebs4footer[0].comment %><br><br>
        <%= @scorebs4footer[1].comment %><br>
        <%= @scorebs4footer[2].comment %><br>
        <%= @scorebs4footer[3].comment %><br>
         <%= @scorebs4footer[4].comment %><br>
         <%= @scorebs4footer[5].comment %><br><br>
          <%= @scorebs4footer[6].comment %><br><br>
          <%= @scorebs4footer[7].comment %>
           <m4><%= @scorebs4footer[8].comment %></m4><br>
         <br><br><br>
         <% end %>
      
      </div>
    </div>
  </div>

</div>
<% end %>
  </div>
</div>

  