

<ul class="nav nav-tabs">
<li>	<a href="/scoreboards">Predicascore<br>Leaderboard</a> </li>
   <li>
   	  <a href="/scoreboards/index_week">Predicascores<br>by Week</a>
  </li>
 <li class="active">
   	  <a href="/scoreboards/index_match">Predicascores<br>by Fixture</a>
  </li>
  <li>
    	<a href="/predicts">Predicascores<br>Point by Point</a>
   </li>
</ul>

<div class="row-fluid">
  <div class="span6 offset1">
  
  <% if action_date > Date.today %> 
			<p>See your <g4>points per match</g4> here, once the competition is underway. </p><br>
			<% else %>
  

   <% if @predicts_by_user.any? %>
     <% @predicts_by_user.each do |user_id, predicts_by_user| %>
<table class="table condensed">

<a><m4>	<% m = user_id %>	
    	
  		<%= User.find(m).name %> 
</m4></a>

<% predicts_by_user = predicts_by_user.sort_by{|e| e[:fixture_id]}%>
<% predicts_by_user.each do |predict| %>
  <tr>
  <td></td>
    <td>
			<%= Fixture.find(predict.fixture_id).hometeam %> v <%= Fixture.find(predict.fixture_id).awayteam %> 
			- <%= Fixture.find(predict.fixture_id).matchdate.strftime("%d %b, %Y") %></td>
			
  <td><center><%= predict.points %></center></td>
    <% end %>
  </tr>
<% end %>
</table>

<% end %><% end %>
<br />
</div></div>
