
<ul class="nav nav-tabs">
<li>	<a href="/scoreboards">Predicascore<br>Leaderboard</a>
    </li>
<li class="active">
   	<a href="/scoreboards/index_week">Predicascores<br>by Week</a>
  </li>
  <li>
   	<a href="/scoreboards/index_match">Predicascores<br>by Fixture</a>
  </li>
  <li>
    	<a href="/predicts">Predicascores<br>Point by Point</a>
   </li>
</ul>

<% if action_date > Date.today %> 
		<p>See the <g4>week by week commentary</g4> here, once the competition is underway. </p><br>
<% else %>

 <div class="row-fluid">
   <div class="span8 offset1">

 <br><br>

 <div class="panel-group" id="accordion">
   <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
           WEEK ONE<br>
         </a>
       </h4>
     </div>
     <div id="collapseOne" class="panel-collapse collapse in">
       <div class="panel-body"> 

        <% if @scoreboards_1_2015.any? %>
       <%= @scoreboards_1_2015[0].comment %><br><br>
       <% end %>

       <table class = "table">
       <% x = @user_scores_1_2015.size %>
       <% x = x-1%>
       <% @user_scores_1_2015.each do |score, users| %>
       <tr>
       <td>
         <m5><b>  <%= score %>  points</m5></b>
       </td>
       <td>
       
         <% sz = users.size %>
          <% if users.any? %>
             <% for user in users %> 
                 <% sz = sz-1 %>
                 <% @record = users[sz] %>
                 <% user = User.find(@record.first) %>
               <m5> <%= link_to user.name, user_path(user.id) %> </m5>
       	    <% end %>
       </td>
       </tr>    
           <%  x= x-1 %>        
           <% end %>
         <% end %>
       </table>     

       </div>
     </div>
   </div>

   <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <br>WEEK TWO
         </a>
       </h4>
     </div>
     <div id="collapseTwo" class="panel-collapse collapse in">
       <div class="panel-body">

        <% if @scoreboards_2_2015.any? %>
       <%= @scoreboards_2_2015[0].comment %><br><br>
 
       <% end %>

       <table class = "table">
       <% x = @user_scores_2_2015.size %>
       <% x = x-1%>
       <% @user_scores_2_2015.each do |score, users| %>
       <tr>
       <td>
         <m5><b>  <%= score %>  points</m5></b>
       </td>
       <td>

         <% sz = users.size %>
          <% if users.any? %>
             <% for user in users %> 
                 <% sz = sz-1 %>
                 <% @record = users[sz] %>
                 <% user = User.find(@record.first) %>
               <m5> <%= link_to user.name, user_path(user.id) %> </m5>
       	    <% end %>
       </td>
       </tr>    
           <%  x= x-1 %>        
           <% end %>
         <% end %>
       </table>     

       </div>
     </div>
   </div>
 </div>


   <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <br>WEEK THREE
         </a>
       </h4>
     </div>
     <div id="collapseThree" class="panel-collapse collapse in">
       <div class="panel-body">

        <% if @scoreboards_3_2015.any? %>
       <%= @scoreboards_3_2015[0].comment %><br><br>
   <% end %>
      

       <table class = "table">
       <% x = @user_scores_3_2015.size %>
       <% x = x-1%>
       <% @user_scores_3_2015.each do |score, users| %>
       <tr>
       <td>
         <m5><b>  <%= score %>  points</m5></b>
       </td>
       <td>

         <% sz = users.size %>
          <% if users.any? %>
             <% for user in users %> 
                 <% sz = sz-1 %>
                 <% @record = users[sz] %>
                 <% user = User.find(@record.first) %>
               <m5> <%= link_to user.name, user_path(user.id) %> </m5>
       	    <% end %>
       </td>
       </tr>    
           <%  x= x-1 %>        
           <% end %>
         <% end %>
       </table>     

       </div>
     </div>
   </div>
   
 
 
  <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          <br>WEEK FOUR
         </a>
       </h4>
     </div>
     <div id="collapseFour" class="panel-collapse collapse">
       <div class="panel-body">

        <% if @scoreboards_4_2015.any? %>
       <%= @scoreboards_4_2015[0].comment %><br><br>
       <% end %>
       
       <table class = "table">
       <% x = @user_scores_4_2015.size %>
       <% x = x-1%>
       <% @user_scores_4_2015.each do |score, users| %>
       <tr>
       <td>
         <m5><b>  <%= score %>  points</m5></b>
       </td>
       <td>

         <% sz = users.size %>
          <% if users.any? %>
             <% for user in users %> 
                 <% sz = sz-1 %>
                 <% @record = users[sz] %>
                 <% user = User.find(@record.first) %>
               <m5> <%= link_to user.name, user_path(user.id) %> </m5>
       	    <% end %>
       </td>
       </tr>    
           <%  x= x-1 %>        
           <% end %>
         <% end %>
       </table>     
       
       </div>
     </div>
   </div>



  <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          <br>WEEK FIVE
         </a>
       </h4>
     </div>
     <div id="collapseFive" class="panel-collapse collapse in">
       <div class="panel-body">

        <% if @scoreboards_5_2015.any? %>
       <%= @scoreboards_5_2015[0].comment %><br><br>

       <table class = "table">
       <% x = @user_scores_5_2015.size %>
       <% x = x-1%>
       <% @user_scores_5_2015.each do |score, users| %>
       <tr>
       <td>
         <m5><b>  <%= score %>  points</m5></b>
       </td>
       <td>

         <% sz = users.size %>
          <% if users.any? %>
             <% for user in users %> 
                 <% sz = sz-1 %>
                 <% @record = users[sz] %>
                 <% user = User.find(@record.first) %>
               <m5> <%= link_to user.name, user_path(user.id) %> </m5>
       	    <% end %>
       </td>
       </tr>    
           <%  x= x-1 %>        
           <% end %>
         <% end %>
       </table>     
  <% end %>
       </div>
     </div> 
   </div>


<% end %>
  </div>
</div>


  