
<% require 'date' %>
<% date = DateTime.parse("2013-06-21 00:00:00") %>

<h3>Scoreboard</h3>

<ul class="nav nav-tabs">
<li class="active">	<a href="/scoreboards">Leaderboard</a>
  <li>
   	<a href="/scoreboards/index_week">Scores by Week</a>
  </li>
  <li>
   	<a href="/scoreboards/index_match">Scores by Match</a>
  </li>
</ul>
  

<div class="row-fluid">
  <div class="span6 offset1">
  
  <% if date > Date.today %> 
			<p>No scores available until after first test</p><br>
			<% else %>

      	<table>
        <tr>
          <th align='left' >Competitor</th>
          <th><center>Total</center></th>
        </tr>
        <tr><td>__________</td><td><center>_____</center></td></tr>
        <tr>

         <% sz = @scoreboards.size %>
         <% if @scoreboards.any? %>
         <% for scoreboard in @scoreboards %> 
          <% sz = sz-1 %>
          <% @record = @scoreboards[sz] %>
          
          			<% if User.find(@record.first).name == "pethl" %>
          			  <% elsif %>
          			  
          			  	<% if User.find(@record.first).name == "Matt Cant" %>
          			  	   <td><strong>* <%= User.find(@record.first).name  %> *</strong></td>
                        <td><strong><center><%= @record.second  %></center></strong></td>
                  </tr>
          			  	  <% else %>

          <td><%= User.find(@record.first).name  %></td>
          <td><center><%= @record.second  %></center></td>
    </tr>
    <% end %>  <% end %><% end %><% end %>

      </table>
		
      </div></div>
<% end %>
 
<% if signed_in? && current_user.admin? %>	
<br />
<div class="btn-group btn-group-vertical">
  <button class="btn btn-large"><%= link_to 'New Scoreboard', new_scoreboard_path, class: "btn btn-primary" %>
  </button>
  
  <button class="btn">	
  <%= form_tag generate_scoreboards_path do %>
		 <%= collection_select(:fixture, :fixture_id, Fixture.all, :id, :full_fixture ) %>
		
		<%= submit_tag "Generate" %>
  <% end %>
  </button>
	
<% end %>
