<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
    <div class="field">
    <% if signed_in? && current_user.name == "pethl" %>
	<%= f.label :admin %>
	<%= f.check_box :admin %><br>
	<%= f.label :wins %>
	<%= f.text_field :wins %><br>
	<%= f.label :style %>
	<%= f.text_field :style %><br>
	<% else %>
	<% end %>
    </div>
  
   <% if signed_in? %>
	<div class="actions">
	<%= f.submit "Update", class: "btn btn-large btn-success" %>
  </div>
  
<% else %>  
<div class="actions">
<%= f.submit "Create User", class: "btn btn-large btn-success" %>
</div>
<% end %>
  	
<% end %>
