<% provide(:title, 'Users') %>
<m2>Users</m2>
<br>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
        <th>P/C</th>
    <th>Previous Wins</th>
    <th><b>Predictions</b></th>
    <th>Action</th>
      <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
	<td><%= user.name %></td>
	<td><%= user.email %></td>
	<% @predicts = Predict.where(:game_id => @current_game[0].id, :user_id => (user.id)) %>
  
	<td><%= @predicts.count %></td>
	
	
		<td><% if user.wins? && user.wins > 0  %>
		  <img src="/images/Trophy-icon.png"
		  </td>
		  <% else %>
		  <% end %>
		
	<td><b><%= link_to "", user_path(user), :class => "icon-forward" %></b></td>

<% if signed_in? %>
	<% if current_user.admin? && current_user?(user)%>
		<td><b><%= link_to 'edit', edit_user_path(user) %></b></td>
	    	<td><b><%= link_to "delete", user, method: :delete,
	                                  data: { confirm: "You sure?" } %></b></td>				  									
		<% elsif  %>
			    <% if current_user.admin? %>
				<td></td>
					<td><b><%= link_to "|d|", user, method: :delete,
			                                  data: { confirm: "You sure?" } %></b></td>
					    	<td></td>				  	
			<% elsif  %>
		    <% if current_user?(user) %>
				<td><b><%= link_to '|e|', edit_user_path(user) %></b></td>
			    	<td></td>				  	
			
			<% else %>
				<td></td>
				<td></td>
			<% end %>
		<% end %>
<% end %>  
<% end %>
</tr>
<% end %>
</table>
<br />

<% if signed_in? && current_user.admin? %>	
  <div class="btn-group btn-group-vertical">
    <button class="btn btn-large"><%= link_to "Add a user", new_user_path, class: "btn btn-primary" %></button>
    <button class="btn">	<%= form_tag import_users_path, multipart: true do %>
		                      <%= file_field_tag :file %>
		                      <%= submit_tag "Import" %>
	                        <% end %>
	  </button>
  </div>
<% end %>
