<% provide(:title, 'User profile') %>
<h1>User profile</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= h @user.name %>
</p>

<h2>Predictions</h2>
<ul>
	
<% for predict in @user.predicts %>
<li>
<% r = predict.fixture_id %>
<% t = Fixture.find(r) %>
<%= t[:hometeam] %> vs. <%= t[:awayteam] %> :  

<%=h predict.homescore %> - <%=h predict.homescore %>

</li>
<% end %>
</ul>
<br>

<h3>Add Prediction</h3>
<br>
<%= render 'predicts/form' %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

</div>