<% provide(:title, 'User profile') %>

<% if @predicts.count > 0 %>

  	<div class="row-fluid">
      <div class="span5offset1">
          <%= render 'predicts/userpredict' %>
      </div>
      
      <div class="span3">
        <%= render 'fixtures/lastyearfix' %>
        </div>
        <div class="span3">
        <%= render 'predicts/userlastyearpredict' %>
        </div>
    </div>
  	
  <% else %>
  <% Rails.logger.debug("user.style: #{@user.style.inspect}") %>
  
    <% if @user.style == "old" %>
  	<%= render 'users/predictform' %>
  	
  	<% else %>

  	<%= render 'users/predictform_nopassword' %>

  	<% end %>
  <% end %>
  
  
