<h1>Competitions</h1>
<br>

<table  class="table">
  <tr>
	<th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>    
<th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
	    <td><%= game.name %></td>
	 <td><%= game.startdate.strftime("%d %B, %Y") %></td>
	 <td><%= game.enddate.strftime("%d %B, %Y") %></td>

    <td><b><%= link_to 'show matches', fixtures_path %>
<%=link_to "New Show", :controller => "fixtures", :action => "index", :id => @game.id %></b></td>

<% if signed_in? && current_user.admin? %>

    	<td><b><%= link_to 'edit', edit_game_path(game) %></b></td>
    	<td><b><%= link_to 'destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></b></td>
	<% end %>  
</tr>
<% end %>

</table>

<br />
<% if signed_in? && current_user.admin? %>
<b><%= link_to 'add a new competition', new_game_path %></b>
<% end %>