<% provide(:title, @game.name) %>
<p id="notice"><%= notice %></p>
<br>
  <h3>
  <%= @game.name %> :
  <%= @game.startdate.strftime("%d %B, %Y") %> -
  <%= @game.enddate.strftime("%d %B, %Y") %>
</h3>
<br>



 <div >
    <% if @game.fixtures.any? %>
      <b>Matches (<%= @game.fixtures.count %>)</b>
      <ul class="fixtures">
        <%= render @fixtures %>
      </ul>

    <% end %>

<br>
<% if current_user.admin? %>

<h3>Add Fixture</h3>

<%= render 'fixtures/form' %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %> |
<%= link_to 'Add Match', new_game_fixture_path(@game) %>
<% end %>
<br>
<br>

  </div>
<br><br>