<% provide(:title, @game.name) %>
<p id="notice"><%= notice %></p>
<br>
<h1>
  <%= @game.name %> :
  <%= @game.startdate.strftime("%Y") %> 
</h1>
<br>

 <div >
    <% if @game.fixtures.any? %>
      <b>Matches (<%= @game.fixtures.count %>)</b>
      <ul class="fixtures">
        <%= render @fixtures %>
      </ul>
	<% end %>

<br>
<% if signed_in? && current_user.admin? %>

<h3>Add Fixture</h3>

<%= render 'fixtures/form' %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %> |
<%= link_to 'Add Match', new_game_fixture_path(@game) %>
<% end %>
<br>
<br>

  </div>
<br><br>