<div class="row">
 <div class="span4">
 
<%= form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <m3>Year</m3>
    <%= f.number_field :year %>

    <m3>Game</m3>
 	  <%= f.collection_select(:game_id, Game.all, :id, :game_details, include_blank: "Select game" ) %>  

    <m3>User</m3>
 	  <%= f.collection_select(:user_id, User.all, :id, :name, include_blank: "Select winner" ) %>  



  <div class="actions">
    <%= f.submit "Add/Edit Winner"%>
  </div>
<% end %>
</div></div>
